<h1 style="text-align: center;">{{title}}</h1>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;
justify-content: space-between;">
  <span style="font-size: 50px;">{{ dateTime| async |date:'HH:mm:ss' }}</span>
  <span style="font-size: 30px;">{{ dateTime| async | date:'MM.d.y' }}</span>
</div>
<!-- warapp select into Angular Material select component -->
<select #names (change)="changeSelectedCurrency(names.value)">
  <option #default>Choose currency to add</option>
  <option *ngFor="let cur of additionalCurrencies"
    [value]="cur">
  {{cur}}
</option>
</select>
<!-- warapp button into Angular Material button -->
<button (click)="addCurrencies()">ADD MORE</button> asd
<li *ngFor="let name of basicCurrenciesArray">
  <app-currency [curName]="name"></app-currency>
</li>
