<header class="header">
  <h1>{{title}}</h1>
  <p>{{ dateTime | date:'dd.MM.YYYY HH.mm.ss' }}</p>
    <select #names (change)="addCurrencies(names.value)" class="currencie-select">
      <option #default style="display: none;">+</option>
      <option *ngFor="let cur of additionalCurrencies"
        [value]="cur">
      {{cur}}
    </option>
    </select>
</header>

<div *ngFor="let name of currentCurrencies">
  <app-currency (currencyToDeleteSelected)="deleteCurrency($event)"
    [currencyName]="name"
    [currencyValue]="data.data[name] || 0"
    [currencyChange]="currencyChanges[name]"></app-currency>
</div>
<!-- <p>Made by Anofriev Denis for YADRO</p> TODO: style for that thing -->