<div class="content-wrapper">
  <div class="currency-item">
    <span>{{currencyName}}</span>
    <span>{{currencyValue}}</span>
    <span *ngIf="currencyChange > 0" class="currency-increase"> &#8593;</span>
    <span *ngIf="currencyChange > 0" class="currency-increase"> (+{{currencyChange}})</span>
    <span *ngIf="currencyChange < 0" class="currency-decrease"> &#8595; </span>
    <span *ngIf="currencyChange < 0" class="currency-decrease"> ({{currencyChange}})</span>
    <span *ngIf="currencyChange === 0"> (0.00)</span>
    <img class="delete-img" src="../../assets/svg/delete.svg" (click)="deleteCurrency(currencyName)">
  </div>
</div>
